:root {
  --clr-primary-400: rgb(39, 37, 178);
  --clr-primary-300: "";
  --clr-primary-100: #fff;
  --clr-neutral-900: #222;
  --clr-neutral-400: rgb(116, 116, 116);
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Space Grotesk", sans-serif;
  --ff-body: var(--ff-primary);
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.2rem;
  --fs-800: 1.5rem;
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: var(--ff-body);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.text-primary-400 {
  color: var(--clr-primary-300);
}

.text-nuetral-400 {
  color: var(--clr-neutral-400);
}

.clr-400 {
  color: var(--clr-neutral-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.txt-white {
  color: var(--clr-primary-100);
}

.button {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);
  border: none;
  padding: 0.2em 1em;
  font-weight: var(--fw-semi-bold);
  border-radius: 0.5em;
  margin-left: 1.5em;
}

.nav-active {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900) !important;
}

.container {
  max-width: 90em;
  width: 90%;
  margin: 0 auto;
}

.even-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.column-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.column-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 500px) {
  .even-columns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .column-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .flex-space {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.primary {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.2);
          box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.2);
  z-index: 100;
}

.primary__wrapper {
  height: 4rem;
}

.primary__navlist {
  display: block;
}

.primary .bxs-grid {
  font-size: 1.5rem;
  display: none;
}

.primary li {
  display: inline-block;
  margin: 0 1em;
  font-weight: var(--fw-semi-bold);
}

.primary li a {
  color: var(--clr-neutral-400);
}

.student {
  background-image: radial-gradient(circle at 28% 93%, rgba(2, 2, 2, 0.04) 0%, rgba(2, 2, 2, 0.04) 50%, rgba(223, 223, 223, 0.04) 50%, rgba(223, 223, 223, 0.04) 100%), radial-gradient(circle at 13% 75%, rgba(185, 185, 185, 0.04) 0%, rgba(185, 185, 185, 0.04) 50%, rgba(25, 25, 25, 0.04) 50%, rgba(25, 25, 25, 0.04) 100%), radial-gradient(circle at 79% 39%, rgba(34, 34, 34, 0.04) 0%, rgba(34, 34, 34, 0.04) 50%, rgba(57, 57, 57, 0.04) 50%, rgba(57, 57, 57, 0.04) 100%), linear-gradient(56deg, #2725b2, #a958c2);
  padding: 2em 0;
  margin-top: 4rem;
}

.student__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #e7e724;
  font-size: 1.4rem;
}

.student__status {
  width: 30%;
}

.student h1 {
  font-size: 1.3rem;
}

.course {
  padding: 3em 0;
}

.course__card {
  position: relative;
  padding: 1.2em;
  -webkit-box-shadow: 10px 10px 50px #dddd;
          box-shadow: 10px 10px 50px #dddd;
  border-radius: 0.5em;
  text-align: center;
  margin-top: 1em;
}

.course__card .bx-dots-vertical-rounded {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  font-size: 1.2rem;
}

.course__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1em;
}

.course__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.program {
  padding: 3em 0;
}

.program__card {
  position: relative;
  margin-top: 1em;
  -webkit-box-shadow: 10px 10px 50px #dddd;
          box-shadow: 10px 10px 50px #dddd;
}

.program__card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}

.program__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-primary-100);
  background-color: orange;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.4rem;
  top: 175px;
  left: 1.2em;
}

.program__content {
  padding: 3.5em 1.5em;
}

.program__content p {
  margin-top: 1em;
}

.program__state {
  padding: 1em 1.5em;
}

.code__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  margin-top: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em;
  border-radius: 0.5em;
  background-image: radial-gradient(circle at 52% 94%, rgba(169, 169, 169, 0.04) 0%, rgba(169, 169, 169, 0.04) 50%, rgba(199, 199, 199, 0.04) 50%, rgba(199, 199, 199, 0.04) 100%), radial-gradient(circle at 96% 98%, rgba(61, 61, 61, 0.04) 0%, rgba(61, 61, 61, 0.04) 50%, rgba(201, 201, 201, 0.04) 50%, rgba(201, 201, 201, 0.04) 100%), radial-gradient(circle at 93% 97%, rgba(227, 227, 227, 0.04) 0%, rgba(227, 227, 227, 0.04) 50%, rgba(145, 145, 145, 0.04) 50%, rgba(145, 145, 145, 0.04) 100%), radial-gradient(circle at 79% 52%, rgba(245, 245, 245, 0.04) 0%, rgba(245, 245, 245, 0.04) 50%, rgba(86, 86, 86, 0.04) 50%, rgba(86, 86, 86, 0.04) 100%), -webkit-gradient(linear, left top, right top, from(#d209c6), to(#192676));
  background-image: radial-gradient(circle at 52% 94%, rgba(169, 169, 169, 0.04) 0%, rgba(169, 169, 169, 0.04) 50%, rgba(199, 199, 199, 0.04) 50%, rgba(199, 199, 199, 0.04) 100%), radial-gradient(circle at 96% 98%, rgba(61, 61, 61, 0.04) 0%, rgba(61, 61, 61, 0.04) 50%, rgba(201, 201, 201, 0.04) 50%, rgba(201, 201, 201, 0.04) 100%), radial-gradient(circle at 93% 97%, rgba(227, 227, 227, 0.04) 0%, rgba(227, 227, 227, 0.04) 50%, rgba(145, 145, 145, 0.04) 50%, rgba(145, 145, 145, 0.04) 100%), radial-gradient(circle at 79% 52%, rgba(245, 245, 245, 0.04) 0%, rgba(245, 245, 245, 0.04) 50%, rgba(86, 86, 86, 0.04) 50%, rgba(86, 86, 86, 0.04) 100%), linear-gradient(90deg, #d209c6, #192676);
}

.code__card .bx {
  font-size: 2rem;
}

.member {
  padding: 3em;
  text-align: center;
  background-color: var(--clr-primary-400);
}

.member button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 25px;
  border: none;
}

.footer {
  padding: 3em 0;
}

.footer__link li {
  list-style: none;
}

.footer__social {
  margin-top: 1em;
}

@media screen and (max-width: 500px) {
  .primary__navlist {
    display: none;
  }
  .primary .bxs-grid {
    display: block;
  }
  .primary .flex-space {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .student {
    width: 100%;
  }
  .student .flex-space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .student .even-columns {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .student__status {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */