/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --clr-primary: #1c2135;
   --clr-secondary: #00c98e;
   --clr-white: #fff;
   --clr-dark: #174749;

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Poppins", sans-serif;

   --biggest-font-size: 1.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: 0.938rem;
   --small-font-size: 0.813rem;
   --smaller-font-size: 0.75rem;

   /*========== Font weight ==========*/
   --font-medium: 500;
   --font-semi-bold: 600;

   /*========== Margenes Bottom ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --mb-0-25: 0.25rem;
   --mb-0-5: 0.5rem;
   --mb-1: 1rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
   --mb-2-5: 2.5rem;

   /*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
   :root {
      --biggest-font-size: 2.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
   }
}

/*=============== BASE ===============*/
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

button,
input {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
}

body {
   background-color: var(--body-color);
   color: var(--text-color);
   transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: var(--font-semi-bold);
   font-family: var(--body-font) !important;
}

p,
span,
small,
strong,
button,
a {
   font-family: var(--body-font) !important;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

button {
   cursor: pointer;
   border: none;
   outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
   // width: min(90%, 968px);
   max-width: 968px;
   margin: 0 auto;
}

.grid {
   display: grid;
}

.flex {
   display: flex;
}

/*=============== NAV ===============*/
.header {
   position: fixed;
   width: 100%;
   top: 0;
   background-color: var(--clr-primary);
   z-index: var(--z-fixed);
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: var(--header-height);

   &__menu {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      button {
         background-color: var(--clr-secondary);
         color: #fff;
         padding: 0.5em 1em;
         border-radius: 25px;
      }
   }

   &__list,
   &__brand {
      a {
         color: #fff;
         font-family: var(--body-font) !important;
      }
   }
}

/*=============== END  NAV ===============*/

/*=============== HOME PAGE ===============*/
.home {
   position: relative;
   height: 100vh;
   padding: 3.5rem 0;
   background-color: var(--clr-primary);
   color: #fff;

   &__wrapper {
      position: relative;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      height: 100%;
   }

   &__para {
      h1 {
         font-size: var(--biggest-font-size);
         margin-bottom: var(--mb-1);
      }
      span {
         color: var(--clr-secondary);
      }
      p {
         margin-bottom: var(--mb-2);
         opacity: 0.6;
         font-family: var(--body-font) !important;
      }
   }

   &__imgcontent {
      img {
         width: 80%;
         margin-inline: auto;
      }
   }

   &__actions {
      column-gap: 1rem;
      align-items: center;
      button {
         background: var(--clr-secondary);
         color: #fff;
         padding: 0.5em 1em;
      }
      a {
         color: var(--clr-secondary);
      }
   }
}

.slides {
   position: absolute;
   bottom: -3.5rem;
   right: 0;
   &__content {
      width: 400px;
      height: 200px;
      padding: 1em;
      background: #fff;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
         0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
         0 22.3px 17.9px rgba(0, 0, 0, 0.042),
         0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      color: #222;
   }

   &__icons {
      display: flex;
      justify-content: center;
      place-items: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: var(--clr-secondary);
      color: #fff;
   }

   &__info {
      align-items: center;
      gap: 0.5em;
      margin-bottom: 1em;
      font-size: var(--small-font-size);
   }

   .comment {
      font-size: var(--normal-font-size);
   }

   &__actions {
      position: absolute;
      left: -144px;
      bottom: 0px;

      button {
         background-color: var(--clr-secondary);
         color: #fff;
         border: none;
         padding: 1em 1.5em;
      }
   }
}

.features {
   background-color: var(--clr-white);
   padding: 5em 0;

   &__title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4em;
      h2 {
         width: 40%;
         color: var(--clr-primary);
         font-weight: var(--font-semi-bold);
         font-size: var(--h2-font-size);
      }
      p {
         width: 30%;
         color: #222;
      }
   }

   &__container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 4em;
   }

   &__box {
      background-color: var(--clr-primary);
      padding: 1.5em;
      h2 {
         width: 80%;
         font-size: var(--normal-font-size);
         color: #fff;
         margin-bottom: 1em;
         font-weight: var(--font-semi-bold);
      }
      button {
         width: 100%;
         background-color: var(--clr-secondary);
         color: #fff;
         font-size: var(--normal-font-size);
         padding: 0.5em;
         border: none;
         font-weight: var(--font-semi-bold);
         i {
            margin-right: 10px;
         }
      }
      p {
         margin-bottom: 2em;
         font-weight: 400;
         color: #fff;
         opacity: 0.8;
         font-size: var(--small-font-size);
         line-height: 1.8;
      }
   }

   &__iconbox {
      display: flex;
      place-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: #3c404e;
      color: var(--clr-secondary);
      margin-bottom: 2em;
      i {
         font-size: 1.5rem;
      }
   }
}

.numbers {
   background-color: #fff;
   padding: 5em 0;
   position: relative;

   &__title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4em;
      h2 {
         width: 50%;
         color: var(--clr-primary);
         font-family: var(--ff-sans-normal);
         font-weight: 700;
         font-size: 2em;
         margin-bottom: 1em;
      }
      p {
         width: 70%;
         color: var(--clr-primary);
         margin-bottom: 2em;
      }

      button {
         background-color: var(--clr-secondary);
         color: #fff;
         padding: 0.5em 1.5em;
         font-weight: var(--font-semi-bold);
         border: none;
      }
   }

   &__contain {
      align-items: flex-start;
      justify-content: space-between;
   }

   &__info {
      width: 40%;
      display: flex;
      align-items: center;
      position: relative;
      gap: 5em;
      small {
         color: #222;
      }
      h1 {
         color: var(--clr-primary);
         font-size: var(--h1-font-size);
         font-weight: bold;
      }
   }

   &__nums {
      position: relative;
      z-index: 1;
      &::before {
         content: "";
         position: absolute;
         top: 1.6em;
         z-index: -1;
         left: -1.5em;
         width: 50px;
         height: 50px;
         border-radius: 0 25px 0 25px;
         background-color: var(--clr-secondary);
      }
   }

   .lines {
      width: 40%;
      height: 2px;
      bottom: -2em;
      position: absolute;
      background-color: var(--clr-primary);
   }
}

.targets {
   padding: 3em 0;
   position: relative;

   &__title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;
      h2 {
         width: 40%;
         color: var(--clr-primary);
         font-weight: var(--font-semi-bold);
         font-size: var(--h1-font-size);
         margin-bottom: 1em;
      }
      p {
         width: 30%;
         color: var(--clr-primary);
         margin-bottom: 2em;
      }

      button {
         background-color: var(--clr-secondary);
         color: #fff;
         padding: 0.5em 1.5em;
         font-weight: 600;
         border: none;
      }
   }

   &__imgcontainer {
      width: 100%;
      height: 50vh;
      background-color: red;
      overflow: hidden;
      position: relative;

      img {
         max-width: 100%;
         display: block;
         object-fit: cover;
      }
   }

   &__selection {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
   }

   &__growth,
   &__elevate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      height: 150px;
      padding: 2em;
      background-color: #00c98e;

      h3 {
         font-weight: 600;
         width: 60%;
         color: #fff;
      }

      button {
         background-color: transparent;
         color: #fff;
         border: 2px solid #fff;
         width: 50px;
         border-radius: 50%;
         height: 50px;
         display: block;
      }
   }

   &__elevate {
      background-color: rgba(0, 0, 0, 0.8);
   }
}

.growths {
   padding: 3em 0;
   position: relative;
   h2 {
      width: 30%;
      color: var(--clr-primary);
      font-weight: var(--font-semi-bold);
      font-size: var(--h2-font-size);
      margin-bottom: 1em;
   }

   &__wrap {
      grid-template-columns: 1fr 1fr;
      gap: 2em;
   }

   &__boxs {
      border: 1px solid #f5f5f5;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
         0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
         0 22.3px 17.9px rgba(0, 0, 0, 0.042),
         0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      padding: 1.5em;
      margin-bottom: 3em;
      position: relative;
      transition: background-color 300ms ease;

      h4 {
         color: var(--clr-primary);
      }

      &:hover {
         background-color: var(--clr-primary);
         color: #fff;

         h4 {
            color: #fff;
         }
         small {
            color: #fff;
         }

         &__iconbox {
            background-color: var(--clr-primary);
            color: var(--clr-secondary);
         }
      }

      button {
         position: absolute;
         bottom: 0;
         right: 0;
         background-color: var(--clr-secondary);
         color: #fff;
         padding: 0.5em 1.5em;
         font-weight: 500;
         font-size: var(--small-font-size);
         border: none;
      }
   }

   &__header {
      display: flex;
      place-items: flex-start;
      justify-content: space-between;
   }

   &__name {
      h4 {
         font-size: var(--h3-font-size);
      }
      small {
         font-size: var(--small-font-size);
      }
   }

   &__iconbox {
      display: flex;
      place-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: #f5f5f5;
      color: #626262;
      margin-bottom: 2em;
      i {
         font-size: 1.5rem;
      }
   }

   &__description {
      strong {
         color: #222;
         font-size: var(--h3-font-size);
      }
      p {
         margin: 1em 0;
         font-size: var(--normal-font-size);
         color: #626262;
      }

      img {
         width: 100%;
         height: 50vh;
         position: relative;
         z-index: 0;
      }
   }

   &__info {
      .names {
         p {
            margin: 0;
         }
      }
   }

   &__slides {
      position: relative;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
         0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
         0 22.3px 17.9px rgba(0, 0, 0, 0.042),
         0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      width: 300px;
      height: 200px;
      padding: 1em;
      background: #fff;
      color: #222;
      z-index: 1;
      margin-top: -5em;
      margin-left: 16em;
      .name {
         font-size: var(--small-font-size);
         p {
            margin: 0;
         }
      }

      .comment {
         font-size: var(--fs-300);
      }
   }

   &__info {
      gap: 0.5em;
      strong {
         font-size: var(--normal-font-size);
      }
      small {
         font-size: var(--small-font-size);
      }
   }

   .comment {
      font-size: var(--small-font-size);
   }

   &__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: var(--clr-secondary);
      color: #fff;
   }
}

.ads {
   padding: 3em 0;
   color: #fff;

   .container {
      align-items: center;
      justify-content: space-between;
      background-color: var(--clr-primary);
      padding: 3em 8em 3em 3em;
      h1 {
         margin-bottom: 0.5em;
         font-size: var(--h2-font-size);
         font-weight: var(--font-semi-bold);
      }

      p {
         margin-bottom: 1.5em;
         opacity: 0.6;
         font-size: var(--small-font-size);
      }

      button {
         font-size: var(--normal-font-size);
         background-color: var(--clr-secondary);
         padding: 0.5em 1em;
         color: #fff;
      }
      a {
         color: #fff;
      }
   }

   &__actions {
      color: #fff;
      align-items: center;
      column-gap: 1rem;
   }

   img {
      width: 30%;
   }
}

@media screen and(min-width:768px) {
   .home {
      &__wrapper {
         grid-template-columns: 1fr 1fr;
      }
   }
}
